<div class="container-fluid" style="width: 90%; padding: 20px; margin-bottom: 30px;"
    *ngIf="isDataAvailable && !isLoading && userIsAuthenticated">
    <div class="row">
        <div class="col-8" style="display: flex; flex-direction: column; justify-content: center;">
            <div class="row" *ngFor="let product of products">
                <div class="col">
                    <div class="card" style="width: 100%;">
                        <div class="row no-gutters">
                            <div class="col-md-3" style="align-self: center;">
                                <img src="../../../assets/images/cake1.jfif" class="card-img" alt="product.name">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h3 class="card-title">{{ product.name }}</h3>
                                        </div>
                                        <div class="col" style="text-align: right;">
                                            <h3 class="card-text" *ngIf="product.promotion > 0"
                                                style="text-align: right; font-weight: bold; color: green">
                                                Promotion: {{ product.promotion | number : '1.2-2' }}%</h3>
                                        </div>
                                    </div>
                                    <br>
                                    <h5 class="card-text">{{ product.description }}</h5>
                                    <hr>
                                    <div class="row" style="vertical-align: bottom;">
                                        <div class="col" *ngIf="product.promotion>0">
                                            <h3 class="card-title" style="color: red"><del>Old Price: {{ product.price |
                                                    number
                                                    : '1.2-2' }}</del></h3>
                                            <h3 class="card-title" style="color: green; font-weight: bold;">New Price:
                                                {{
                                                (product.price - (product.price * (product.promotion / 100)))
                                                | number : '1.2-2' }}</h3>
                                        </div>
                                        <div class="col" *ngIf="product.promotion==0">
                                            <h3 style="visibility: hidden;">Old price</h3>
                                            <h3 class="card-title" style="font-weight: bold;">Price: {{ product.price |
                                                number :
                                                '1.2-2' }}</h3>
                                        </div>
                                        <div class="col" style="text-align: right;">
                                            <br>
                                            <button class="btn btn-primary btn-lg"
                                                (click)="addToChart(product.productID, product.name, product.price, product.promotion)">
                                                Add to cart</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-4" style="margin-bottom: 30px;">
            <div class="card mb-3" style="max-width: 40rem;">
                <div class="card-header text-lg-center">
                    <h4 class="card-title">Cart</h4>
                    <span>Name: {{ user.firstName }} {{ user.lastName }}</span>
                    <br>
                    <span>Address: {{ user.address }}</span>
                </div>
                <div class="card-body">
                    <div class="row" style="height: 40px;">
                        <div class="col-4">
                            <p class="card-text" style="text-align: left;"><strong>Product name:</strong></p>
                        </div>
                        <div class="col-3">
                            <p class="card-text" style="text-align: right;"><strong>Quantity:</strong></p>
                        </div>
                        <div class="col-5">
                            <p class="card-text" style="text-align: right;"><strong>Price with promotion:</strong></p>
                        </div>
                    </div>
                    <div class="row" *ngFor="let item of cart" style="height: 40px;">
                        <div class="col-4" style="text-align: left;">
                            <p class="card-text">{{ item.name }}</p>
                        </div>
                        <div class="col-3" style="text-align: right;">
                            <p class="card-text">
                                <button class="btn btn-primary btn-sm" 
                                (click)="removeFromChart(item.productId)"
                                style="width: 30px;">-</button>
                                <strong>  {{ item.quantity }}x</strong></p>
                        </div>
                        <div class="col-5" style="text-align: right;">
                            <p class="card-text"><strong>{{ item.price - (item.price * (item.promotion/100))
                                    | number : '1.2-2' }}</strong></p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-7" style="text-align: left;">
                            <a href="/order" class="btn btn-primary btn-sm">Send order</a>
                        </div>
                        <div class="col-5">
                            <h5 class="card-title" style="text-align: right; vertical-align: bottom;">
                                <strong>Total: {{ (totalSum | number : '1.0-0') }}</strong>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Entirely new container and visually different when user is not authenticated-->
<div class="container" style="padding: 20px; margin-bottom: 30px" *ngIf="!userIsAuthenticated">
    <div class="col-12" style="display: flex; flex-direction: column; justify-content: center;">
        <div class="row" *ngFor="let product of products">
            <div class="col">
                <div class="card" style="width: 100%;">
                    <div class="row no-gutters">
                        <div class="col-md-3" style="align-self: center;">
                            <img src="../../../assets/images/cake1.jfif" class="card-img" alt="product.name">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="card-title">{{ product.name }}</h3>
                                    </div>
                                </div>
                                <br>
                                <h5 class="card-text">{{ product.description }}</h5>
                                <hr>
                                <div class="row" style="vertical-align: bottom;">
                                    <div class="col">
                                        <h3 style="visibility: hidden;">Old price</h3>
                                        <h3 class="card-title" style="font-weight: bold;">Price: {{ product.price |
                                            number :
                                            '1.2-2' }}</h3>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>